DATABASE_URL=mongodb+srv://usuario:senha@cluster/banco
CORS_ORIGIN=http://localhost:5173,https://seu-dominio.vercel.app
PORT=10000
GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
NODE_ENV=development
